# System Files #
################
.DS_Store
.icloud
Desktop.ini
.git
.vscode
*.code-workspace

# Git Files #
#############
.git/**/*
.gitignore
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE
README.md
dtg_zones.png

# Configuration Files #
#######################
.coveralls.yml
.inch.yml
.prettierignore
.rspec
.rspec_status
.ruby-version
.travis.yml

# Ruby Files #
##############
Gemfile
Gemfile.lock
bin/**/*
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem

# Save my poor comments #
#########################
lib/dtg/zones.rb
lib/dtg/format.rb

